<link href="{{BaseUrl}}styles/resource.css" rel="stylesheet">

<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Resource </h4>
  </div>
  <!-- /.col-lg-3 -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <div data-bind="visible: pageProcessing">
        {{template "_loader.html"}}
      </div>

      <div id="example" data-bind="visible: (stsForm() == 'grid' && pageProcessing() == false)">
        <div class="row">
          <div class="col-md-12">
            <button href="#" class="btn btn-info btn-fill pull-right" onclick="newData()">New Resource</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="grid"></div>
          </div>
        </div>
      </div>

      <div class="row" class="row" data-bind="visible: (stsForm() == 'form' && pageProcessing() == false)">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-inline">
                <div class="form-group">
                  <label for="dd-version">Version</label>
                  <input id="dd-version" class="form-control" data-bind="kendoDropDownList: { data: listVersion, value: selectedVersion }" />
                </div>

                <button type="button" class="btn btn-info btn-fill" data-toggle="modal" data-target="#modal-version">Manage Version</button>
              </div>
            </div>

            <div class="col-md-4" style="text-align: center;">
              <button type="button" class="btn btn-success btn-fill" data-toggle="modal" data-target="#modal-ramldet" data-bind="visible: stsTabForm() == 'raml'">Open RAML Details</button>
            </div>

            <div class="button-container col-md-4">
              <button type="button" class="btn btn-info btn-fill pull-right" onclick="saveResource()">Save</button>
              <button type="button" class="btn btn-danger btn-fill pull-right" onclick="deleteResource()" data-bind="visible: stsDataForm() != 'new'">Delete</button>

              <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info btn-fill" data-toggle="modal" data-target="#modal-newraml">New RAML</button>
                <button type="button" class="btn btn-info btn-fill" data-toggle="modal" data-target="#modal-upload">Upload File</button>
                <!-- <button type="button" class="btn btn-info btn-fill">Convert to Swagger</button> -->
              </div>

              <button type="button" class="btn btn-warning btn-fill pull-right" onclick="goBack()">Back</button>
            </div>
          </div>

          <div class="row" data-bind="with: selectedResource, visible: stsForm() == 'form'">
            <br>
            <ul class="nav nav-pills nav-justified">
              <li class="active"><a data-toggle="tab" href="#tab-form" onclick="tabdetailclick()">Detail</a></li>
              <li><a data-toggle="tab" href="#tab-raml" onclick="bindRaml()">RAML</a></li>
              <li><a data-toggle="tab" href="#tab-model" onclick="resmodel.render()">Resource Model</a></li>
            </ul>
            <br>

            <div class="tab-content maintab">
              <div id="tab-form"  class="tab-pane fade in active" style="padding-top: 10px;">
                <div class="col-md-6 form-left">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Code</label>
                    <div class="col-md-10">
                      <input type="text" placeholder="Code" id="txtCode" class="form-control" data-bind="value: code, valueUpdate: 'afterkeydown', disable: selectedVersion() == ''" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Title</label>
                    <div class="col-md-10">
                      <input type="text" placeholder="Title" class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown', disable: selectedVersion() == ''" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                      <input type="text" placeholder="Description" class="form-control" data-bind="value: description, valueUpdate: 'afterkeydown', disable: selectedVersion() == ''" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Stage</label>
                    <div class="col-md-10">
                      <input class="form-control" data-bind="kendoDropDownList: {
                        dataTextField: 'name',
                        dataValueField: '_id',
                        data: stageSource,
                        value: stage,
                        optionLabel: 'Select stage'
                      }" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Tag</label>
                    <div class="col-md-10">
                      <input type="text" placeholder="Tag" class="form-control" data-bind="value: selectedTag, valueUpdate: 'afterkeydown', disable: selectedVersion() == ''" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">Uri</label>
                    <div class="col-md-4">
                      <input class="form-control" data-bind="kendoDropDownList: {
                        data: baseUriSource,
                        value: baseuri,
                        optionLabel: 'BaseUri'
                      }" />
                    </div>
                    <div class="col-md-3">
                      <input class="form-control" data-bind="kendoDropDownList: {
                        data: domainSource,
                        value: domain,
                        optionLabel: 'Select domain'
                      }" />
                    </div>
                    <div class="col-md-3">
                      <input type="text" placeholder="Subdomain" class="form-control" data-bind="value: subdomain, valueUpdate: 'afterkeydown'" />
                    </div>
                    <label for="example-text-input" class="col-md-10 col-md-offset-2 col-form-label" data-bind="text: uri"></label>
                  </div>
                </div>

                <div class="col-md-6 form-right">
                  <div class="row">
                    <div class="col-md-6 panel-coverage">
                      <h4>Production Coverage</h4>

                      <div class="panel panel-default">
                        <div class="panel-heading">Country</div>
                        <div class="panel-body">
                          <div data-bind="kendoListView: { data: listView.countryItems, template: listView.template, selectable: 'multiple' }"> </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">System</div>
                        <div class="panel-body">
                          <div data-bind="kendoListView: { data: listView.systemItems, template: listView.template, selectable: 'multiple' }"> </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 panel-coverage">
                      <h4>Test Coverage</h4>

                      <div class="panel panel-default">
                        <div class="panel-heading">Country</div>
                        <div class="panel-body">
                          <div data-bind="kendoListView: { data: listView.countryItems, template: listView.template, selectable: 'multiple' }"> </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">System</div>
                        <div class="panel-body">
                          <div data-bind="kendoListView: { data: listView.systemItems, template: listView.template, selectable: 'multiple' }"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="tab-raml"  class="tab-pane fade ">
                <div class="col-md-12 no-padding">
                  {{template "ramleditor.html"}}
                </div>
              </div>

              <div id="tab-model"  class="tab-pane fade ">
                <div class="col-md-12 no-padding">
                  {{template "resourcemodel.html"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="userModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="width: 80%;">
    <!-- <form class="form-add"> -->
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-flat btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- </form> -->
  </div>
</div>

<div class="modal fade" id="modal-version" tabindex="-1" role="dialog" aria-labelledby="modalversionlabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modalversionlabel">Manage version</h4>
      </div>

      <div class="modal-body">
        <div id="grid-version"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-newsch" tabindex="-1" role="dialog" aria-labelledby="modalnewsch" data-bind="with: sch">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modalnewsch">New Schema</h4>
      </div>

      <div class="modal-body">
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Schema Name</label>
          <div class="col-md-10">
            <input type="text" placeholder="File Name" class="form-control" data-bind="value: schname" />
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">JSON Schema</label>
          <div class="col-md-10">
            <textarea class="form-control" rows="5" data-bind="value: schbody"> </textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-info btn-fill pull-right" data-bind="click: save">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-newraml" tabindex="-1" role="dialog" aria-labelledby="modalnewramllabel" data-bind="with: nr">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modalnewramllabel">New raml</h4>
      </div>

      <div class="modal-body">
        {{template "newramlform.html"}}
      </div>

      <div class="modal-footer">
        <button class="btn btn-info btn-fill pull-right" data-bind="click: saveRaml">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-oauth2" tabindex="-1" role="dialog" aria-labelledby="modaloauth2" data-bind="with: nr.currentSecuritySchemes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modaloauth2">You are choosing oauth-2!</h4>
      </div>

      <div class="modal-body" data-bind="with: currentBody">
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Response</label>
          <div class="col-md-10" data-bind="visible: responses().length > 0, foreach: responses">
            <div class="form-group row">
              <div class="col-md-3">
                <input class="form-control" data-bind="kendoDropDownList: { data: nr.httpResponseSource, value: code, optionLabel: 'Select response code' }" />
              </div>

              <div class="col-md-8">
                <textarea class="form-control" rows="5" data-bind="value: description" placeholder="Response Description"> </textarea>
              </div>

              <div class="col-md-1">
                <button class="btn btn-danger btn-fill" data-bind="click: $parent.removeElement">-</button>
              </div>
            </div>
          </div>

          <div class="col-md-10" data-bind="css: { 'col-md-offset-2': responses().length > 0 }">
            <button class="btn btn-info btn-fill pull-right" data-bind="click: addResponse">New Response</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-md-4 col-form-label">authorizationUri</label>
          <div class="col-md-8">
            <input type="text" placeholder="authorizationUri" class="form-control" data-bind="value: authorizationUri" />
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-md-4 col-form-label">accessTokenUri</label>
          <div class="col-md-8">
            <input type="text" placeholder="accessTokenUri" class="form-control" data-bind="value: accessTokenUri" />
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-md-4 col-form-label">authorizationGrants</label>
          <div class="col-md-8">
            <input type="text" placeholder="authorizationGrants" class="form-control" data-bind="value: authorizationGrants" />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-info btn-fill pull-right" data-bind="click: nr.currentSecuritySchemes().save">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modalupload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="modalupload">Upload RAML or JSON Schema File</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div>Destination: </div>
          <label class="radio-inline">
            <input type="radio" name="uploadDestination" value="root" data-bind="checked: uploadDestination" /> root
          </label>
          <label class="radio-inline">
            <input type="radio" name="uploadDestination" value="schema" data-bind="checked: uploadDestination" /> /schema
          </label>
        </div>

        <div class="row">
          <input type="file" name="batchFile" id="batchFile" title="Select file" accept=".raml,.json" />
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{BaseUrl}}scripts/resource.js"></script>
<script src="{{BaseUrl}}scripts/newRaml.js"></script>
