<!-- <link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/loader.css"> -->
<style type="text/css">
	/*.cssload-container-general{
		position:absolute;
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        max-width:100%;
        max-height:100%;
        overflow:auto;
	}*/
	.image {
	    -webkit-animation:spin 3s linear infinite;
	    -moz-animation:spin 3s linear infinite;
	    animation:spin 3s linear infinite;
	}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>

<!-- <div align="center" class="cssload-fond" style="height: 300px">
	<div class="cssload-container-general">
			<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_1"> </div></div>
			<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_2"> </div></div>
			<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_3"> </div></div>
			<div class="cssload-internal"><div class="cssload-ballcolor cssload-ball_4"> </div></div>
	</div>
</div> -->

<div id="eaciit-loader" style="height: 300px; text-align: center;padding-top: 75px;">
    <img src="{{BaseUrl}}images/loading.gif" class="image" style="width: 200px;">
</div>
